<!DOCTYPE html>		
<html>		
<head>		
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <% include ../partials/header.ejs %>		
</head>		
		
<body>		
		
  <% include ../partials/nav.ejs %>
  <canvas id="canvas" width="400px" height="400px"></canvas>
  <script src="../scripts/testLineChart.js"></script>
</body>		
</html>