<!DOCTYPE html>		
<html>		
<head>		
  <% include ../partials/header.ejs %>		
</head>		
		
<body>		
		
  <% include ../partials/nav.ejs %>
  <script src="https://cdnjs.com/libraries/chart.js"></script>
  <script src="../scripts/testLineChart.js"></script>
</body>		
</html>